{{define "title"}}{{end}}
{{define "head"}}
<style>
    .main {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    .main div {
        border: 1px solid lightgray;
        padding: 6px;

    }
</style>

<script>
    function copy(){
        var copyText = document.getElementById("registerLink");
        copyText.disabled = false;
        copyText.select();
        document.execCommand("copy");
        copyText.disabled = true;
    }
</script>
{{end}}

{{define "body"}}
{{template "nav" .}}
<div class="main">
    <div>
        {{range $i, $message := .Messages}}
        <div>{{$message}}</div>
        {{end}}
        <!-- <a href="/admin/user/invite" class="pure-button" style="margin: 4px;"><i class="fas fa-user-plus"></i> Invite</a> -->
        <table class="pure-table">
            <thead>
                <tr>
                    <td>Preview</td>
                    <td>Name</td>
                    <td>Owner</td>
                    <td>Last Modified</td>
                    <td>Size</td>
                    <td>Delete</td>
                </tr>
            </thead>
            <tbody>
                {{range $i, $pic := .Pictures}}
                <tr>
                    <td><a href="{{$pic.URL}}" target="_blank"><img src="{{$pic.URL}}" style="width: 50px; height:auto;"></a>
                    </td>
                    <td>{{$pic.Name}}</td>
                    <td>{{$pic.Owner}}</td>
                    <td>{{$pic.ModTime}}</td>
                    <td>{{$pic.Size}}</td>
                    <td style="text-align: center;"><a href="/pictures/delete?file={{$pic.Path}}&csrf_token={{$.CsrfToken}}"
                            class="delete"
                            onclick="return confirm('Are you sure you want to delete this picture?\nNote: this cannot be undone!')"><i
                                class="fa fa-trash-alt" style="color: red;"></i></a></td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>
</div>
{{end}}

{{define "nav"}}
<style>
    nav {
        padding: 5px;
        border-bottom: 1px solid grey;
        position: sticky;
        top: 0;
        right: 0;
        left: 0;
        display: flex;
        align-items: stretch;
    }

    nav * {
        margin: 4px;
    }

    .spacer {
        width: 100%;
        content: " "
    }
</style>
<nav>
    <a href="/admin" class="pure-button"><i class="fa fa-home"></i> Home</a>
    <a href="/pictures/upload" class="pure-button"><i class="fa fa-upload"></i> Upload</a>
    <span class="spacer"></span>
    <a href="/logout" class="pure-button"><i class="fa fa-sign-out-alt"></i> Logout</a>
</nav>
{{end}}