{{define "title"}}{{end}}
{{define "head"}}
<style>
    .main {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    .main form {
        border: 1px solid lightgray;
        padding: 6px;

    }
    .delete{
        text-decoration: none;
        color: red;
        font-weight: bold;
    }
    .hidden{
        display: none;
    }
</style>

<script>
    var interv
    document.addEventListener("DOMContentLoaded", function () {
            interv = setInterval(function () {
                var http = new XMLHttpRequest();
                http.open("GET", '/health_check', /*async*/false);
                http.onreadystatechange = function () {
                    if (http.readyState == 4) {
                        if (pong != null) {
                            pong();
                        }
                    }
                };
                try {
                    http.send(null);
                } catch (exception) {
                    // this is expected
                }
            }, '4000')
        });
    function pong(ms){
        clearInterval(interv)
        document.querySelectorAll('.hidden').forEach(function(e){
            e.className = ""
        });
        document.getElementById('spinner').className = "hidden";
    }
</script>
{{end}}

{{define "body"}}
{{template "nav" .}}
<div class="main">
    <form class="pure-form pure-form-aligned">
        <fieldset>
            <legend>Restarting ...</legend>
            <div id="spinner" class="pure-control-group" style="text-align: center;">
                <div class="fa-3x">
                    <i class="fas fa-spinner fa-pulse"></i>
                </div>
            </div>
            <div class="hidden" class="pure-control-group" style="text-align: center;">
                <span class="pure-form-message-inline">Success!</span>
            </div>
            <br>
            <div class="hidden" class="pure-control-group"  style="text-align: center;">
                <a href="/root" class="pure-button pure-button-primary"><i class="fas fa-home"></i> Home</a>
                <span class="pure-form-message-inline"></span>
            </div>
        </fieldset>
    </form>
</div>
{{end}}
 
{{define "nav"}}
{{end}}