{{define "title"}}{{end}}
{{define "head"}}
<style>
    .main {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    .main form {
        border: 1px solid lightgray;
        padding: 6px;

    }
    .delete{
        text-decoration: none;
        color: red;
        font-weight: bold;
    }
</style>

<script>

</script>
{{end}}

{{define "body"}}
{{template "nav" .}}
<div class="main">
    <form action="/admin/config" method="POST" class="pure-form pure-form-aligned">
        <input type="hidden" name="csrf_token" value="{{CsrfToken}}">
        <fieldset>
            <legend>Admin Config</legend>
            {{range $key, $con := .Configs}}
                {{$type := $con | gettype}}
                <div class="pure-control-group">
                    <label for="{{$key}}">{{$key}}</label>
                    {{if eq $type "bool"}}
                        <input id="{{$key}}" type="checkbox" {{if $con}}checked="checked"{{end}} name="{{$key}}" value="{{$con}}">
                    {{else}}
                        {{if eq $type "int"}}
                            <input id="{{$key}}" type="number" step="1" placeholder="{{$key}}" name="{{$key}}" value="{{$con}}">
                        {{else}}
                            <input id="{{$key}}" type="text" placeholder="{{$key}}" name="{{$key}}" value="{{$con}}">
                        {{end}}
                    {{end}}
                    <input type="hidden" name="{{$key}}_type" value="{{$type}}">
                </div>
            {{end}}
            <div class="pure-controls">
                <button type="submit" class="pure-button pure-button-primary">Update</button>
            </div>
        </fieldset>
    </form>
</div>
{{end}}
 
{{define "nav"}}
<style>
    nav{
        padding: 5px;
        border-bottom: 1px solid grey;
        position:sticky;
        top: 0;
        right: 0;
        left: 0;
        display: flex;
        align-items: stretch;
    }
    nav * {
        margin: 4px;
    }
    .spacer{
        width: 100%;
    }
</style>
<nav>
    <!-- <a href="/my/pictures/upload" class="pure-button">Upload</a>
    -->
    <a href="{{.Home}}" class="pure-button"><i class="fa fa-home"></i> Home</a> 
    <span class="spacer">&nbsp;</span>
    <a href="/logout" class="pure-button"><i class="fa fa-sign-out-alt"></i> Logout</a>
</nav>
{{end}}