{{define "title"}}{{end}}
{{define "head"}}
<style>
    .main {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    .main form {
        border: 1px solid lightgray;
        padding: 6px;

    }
</style>
{{end}}

{{define "body"}}
<div class="main">
    <form class="pure-form pure-form-aligned" action="/admin/user/invite" method="post">
        <fieldset>
            <input type="hidden" name="token" value="{{.Token}}">
            <div class="pure-control-group">
                <label for="username">Email</label>
                <input id="username" type="text" name="username" placeholder="Username" value="jlwarren1@gmail.com">
            </div>

            <div class="pure-controls">
                <button type="submit" class="pure-button pure-button-primary">Invite</button>
            </div>
        </fieldset>
    </form>
</div>
{{end}}