{{define "title"}}{{end}}
{{define "head"}}
<style>
    .main {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    .main table {
        border: 1px solid lightgray;
        padding: 6px;

    }
</style>

<script>
    function copy(){
        var copyText = document.getElementById("registerLink");
        copyText.disabled = false;
        copyText.select();
        document.execCommand("copy");
        copyText.disabled = true;
    }
</script>
{{end}}

{{define "body"}}
<div class="main">
    {{range $i, $message := .Messages}}
    <div>{{$message}}</div>
    {{end}}
    <table class="pure-table">
        <thead>
            <tr>
                <td>ID</td>
                <td>Username</td>
                <td>Admin</td>
                <td>Register Link</td>
            </tr>
        </thead>
        <tbody>
            {{range $i, $user := .Users}}
            <tr>
                <td>{{$user.ID}}</td>
                <td><a href="/admin/user/{{$user.Username}}" target="_blank">{{$user.Username}}</a></td>
                <td style="text-align: center;">{{if $user.Admin}}&#10003;{{else}}&#10007;{{end}}</td>
                <td>
                    {{if $user.Token}}
                        <input id="registerLink" disabled type="text" value="/register?username={{$user.Username}}&token={{$user.Token}}"> <button onclick="copy()" class="pure-button">&#128203;</button>
                    {{else}}
                        ----
                    {{end}}
                </td>
            </tr>
            {{end}}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3"></td>
                <td><a href="/admin/user/invite" class="pure-button">Add User</a></td>
            </tr>
        </tfoot>
    </table>
</div>
{{end}}