{{define "title"}}{{end}}
{{define "head"}}
<style>
    .main {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    .main form {
        border: 1px solid lightgray;
        padding: 6px;

    }
</style>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const selectElement = document.getElementById("username");

        selectElement.addEventListener('keyup', (event) => {
            const link = document.getElementById("forgot-link");
            link.setAttribute("href", "/forgot?username" + selectElement.value)
        });
    });

</script>
{{end}}

{{define "body"}}
<div class="main">
    <form class="pure-form pure-form-aligned" action="/login" method="post">
        {{range $i, $message := .Messages}}
            <div>{{$message}}</div>
        {{end}}
        <fieldset>
            <input type="hidden" name="csrf_token" value="{{CsrfToken}}">
            <div class="pure-control-group">
                <label for="username">Username</label>
                <input id="username" type="text" name="username" placeholder="Username" {{if .Username}}value="{{.Username}}"{{end}}>
            </div>

            <div class="pure-control-group">
                <label for="password">Password</label>
                <input id="password" type="password" name="password" placeholder="Password" value="asdf">
            </div>
            <div class="pure-control-group">
                <label>&nbsp;</label>
                <a id="forgot-link" href="/forgot">Forgot Password</a>
            </div>

            <div class="pure-controls">
                <button type="submit" class="pure-button pure-button-primary">Submit</button>
            </div>
        </fieldset>
    </form>
</div>
{{end}}